.ocultarHandle{
    opacity: 0;
}

.source{
    bottom: 9px;
}

.target{
    left: 8px;
}

.diamond{
    position: relative;
    height: 135px;
    width: 135px;
    line-height: 136px;
    text-align: center;
    font-size: 12px;
}

.diamond svg{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
}

path.inner{
    fill: #d1d1d1;
    stroke: #2c2c2c;
}
