################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Blueprint/.vs/Blueprint/FileContentIndex/070688f3-9833-4918-998d-1b72643bf68d.vsidx
